h1{
   color: blue;
   text-align: left;
}
h2{
   text-decoration:underline;
   text-align: left;
   color: greenyellow;
}
body{
   background-color: gray;
}
img {
   border-radius: 20px;
   display: block;
   margin-right: auto;
   margin-left: auto;
}
